---
layout: markdown_page
title: "Group Direction - Authentication"
description: "Authentication keeps resources secure but accessible."
---

- TOC
{:toc}

| Group | **Authentication** |
| --- | --- |
| Stage | [Govern](https://about.gitlab.com/handbook/product/categories/#govern-stage) |
| Group | [Authentication](https://about.gitlab.com/handbook/product/categories/#authentication-group) |
| Content Last Reviewed | `2023-01-11` |


<%= partial("direction/govern/authentication/templates/intro") %>

## Overview

<%= partial("direction/govern/authentication/templates/overview") %>

### Target audience and experience

<%= partial("direction/govern/authentication/templates/target") %>

## Priorities

| Priority | Name | DRI | Target Release | 
| ------ | ------ | ------ | ------ |
<% data.product_priorities.authentication.priorities.each.with_index do |priority, index| %>
| <%= index + 1 %> | [<%= priority.name %>](<%= priority.url %>) | `<%= priority.dri.presence || "TBD" %>` | `<%= priority.target_release.presence || "TBD" %>`  |
<% end %>
