---
layout: default
title: "GitLab Community Newsletter"
twitter_image: "/images/opengraph/Newsletter.png"
description: "Learn new skills, elevate your profile, collaborate with a growing community of open source contributors, and connect with our DevSecOps platform team."
suppress_header: true
canonical_path: "/community/newsletter/"
extra_css:
  - solutions2020.css
  - bl-modal.css
  - video-carousel.css
  - heroes-contributions.css
  - community.css
extra_js:
  - libs/slick.min.js
  - video-carousel.js
---

.header-content 
  %h2 Join the GitLab Community
  .newsletter-cta
    .form-container
      %script{src: "//page.gitlab.com/js/forms2/js/forms2.min.js"}
      %form#mktoForm_4011
      :javascript
        MktoForms2.setOptions(
        {
          formXDPath : "/rs/194-VVC-221/images/marketo-xdframe-relative.html"
        });
        MktoForms2.loadForm("//page.gitlab.com", "194-VVC-221", 4011, function(form) {
          form.onSuccess(function(values, followUpUrl) {

            dataLayer.push(
            {
              'event' : 'services', 
              'mktoFormId' : form.getId(),
              'eventCallback' : function()
              {
                form.getFormElem().hide();
                $('#confirmform').attr('style', 'visibility: visible');
              }, 'eventTimeout' : 3000
            });

            return false;
          });
        });


